@font-face {
  font-family: "Neue";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/NeueHaasDisplay-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Neue";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NeueHaasDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NeueHaasDisplay-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Neue";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NeueHaasDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NeueHaasDisplay-Bold.woff2") format("woff2");
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1601px;
  padding: 0 25px;
  margin: 0 auto;
}

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: "Neue", sans-serif;
  font-weight: 300;
}

body.no-scroll {
  overflow: hidden;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}

input::-webkit-input-placeholder {
  font-family: inherit;
}

input:-ms-input-placeholder {
  font-family: inherit;
}

input::-ms-input-placeholder {
  font-family: inherit;
}

input::placeholder {
  font-family: inherit;
}

@media (max-width: 992px) {
  .space {
    display: none;
  }
}

.book {
  padding: 15px 30px;
  background: #3ab455;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

@media (min-width: 992px) {
  .book:hover {
    background: #fff;
    color: #3ab455;
    -webkit-box-shadow: 0px 0px 0px 1px #3ab455;
            box-shadow: 0px 0px 0px 1px #3ab455;
  }
}

.header {
  padding-top: 60px;
  position: relative;
}

.header::before {
  content: "";
  display: block;
  width: 72%;
  height: 50px;
  left: 0;
  top: 105px;
  position: absolute;
  background: url(../img/svg/header_decor.svg) center/contain no-repeat;
}

@media (max-width: 768px) {
  .header::before {
    display: none;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.header__logo img {
  display: block;
  margin-right: 10px;
}

.header__logo span {
  color: #989898;
}

@media (max-width: 1024px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50px;
            flex: 0 1 50px;
    overflow: hidden;
  }
}

@media (max-width: 375px) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-size: 1.2rem;
  }
}

.header__become {
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 400;
  margin-right: 80px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .header__become {
    margin-right: 30px;
  }
}

@media (max-width: 578px) {
  .header__become {
    font-size: 0;
    -webkit-text-decoration-color: #3ab455;
            text-decoration-color: #3ab455;
    margin-right: 20px;
  }
  .header__become span {
    font-size: 1.2rem;
    color: #3ab455;
  }
}

@media (max-width: 578px) and (max-width: 475px) {
  .header__become span {
    font-size: 0.9rem;
  }
}

.header__search {
  padding: 15px 20px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  color: #c9c9c9;
  background: url(../img/svg/search.svg) right 15px center/auto no-repeat;
}

.header__search::-webkit-input-placeholder {
  color: #c9c9c9;
}

.header__search:-ms-input-placeholder {
  color: #c9c9c9;
}

.header__search::-ms-input-placeholder {
  color: #c9c9c9;
}

.header__search::placeholder {
  color: #c9c9c9;
}

.header__search::-webkit-search-cancel-button {
  display: none;
}

.header__search:focus {
  outline: none;
  border: 1px solid #3ab455;
}

@media (max-width: 475px) {
  .header__search {
    font-size: 0.9rem;
    padding: 10px;
  }
}

.header__book {
  margin-left: 30px;
}

@media (max-width: 1576px) {
  .header__book {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 30px;
  }
}

.hero {
  padding: 9% 2% 0 0;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

@media (max-width: 1024px) {
  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__text {
  width: 35%;
}

@media (max-width: 1576px) {
  .hero__text {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .hero__text {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media (max-width: 425px) {
  .hero__text {
    text-align: left;
  }
}

.hero__title {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__title span {
  display: block;
  color: #989898;
}

@media (max-width: 1576px) {
  .hero__title {
    font-size: 2.6rem;
  }
}

.hero__subtitle {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
}

.hero__subtitle span {
  display: block;
  color: #989898;
}

@media (max-width: 1576px) {
  .hero__subtitle {
    font-size: 1.2rem;
  }
  .hero__subtitle span {
    display: inline;
  }
}

.hero__book {
  margin-top: 50px;
}

@media (max-width: 578px) {
  .hero__book {
    margin-top: 30px;
  }
}

.hero__list {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1576px) {
  .hero__list {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .hero__list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 578px) {
  .hero__list {
    row-gap: 35px;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.hero__items {
  border: 1px solid #c9c9c9;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

@media (max-width: 578px) {
  .hero__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.hero__items svg {
  display: block;
  width: 70px;
  -webkit-transform: translate(-10px, -20px);
          transform: translate(-10px, -20px);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.hero__items svg path {
  -webkit-transition: fill 0.3s, stroke 0.3s;
  transition: fill 0.3s, stroke 0.3s;
}

@media (max-width: 578px) {
  .hero__items svg {
    -webkit-transform: translate(20px, -25px);
            transform: translate(20px, -25px);
  }
}

.hero__items__text h3 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1.3rem;
}

.hero__items__text h3 span {
  color: #989898;
  font-size: 1rem;
  padding-left: 5px;
}

.hero__items__text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__items__text p img {
  display: block;
  margin-right: 10px;
}

.hero__items__text p:last-child {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .hero__items {
    width: calc(50% - 18px);
  }
}

@media (max-width: 578px) {
  .hero__items {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .hero__items:hover {
    background: #3ab455;
  }
  .hero__items:hover span {
    color: #3ab455;
  }
  .hero__items:hover svg {
    fill: #fff;
  }
  .hero__items:hover svg path {
    fill: #fff;
  }
  .hero__items:hover svg path:nth-child(6) {
    stroke: #fff;
  }
  .hero__items:hover svg path:nth-child(7) {
    stroke: #fff;
  }
}

.car {
  padding: 300px 0;
  background: #fff;
}

@media (min-width: 1024px) {
  .car {
    position: fixed;
    width: 100%;
    bottom: -100%;
    z-index: 5;
    height: 100vh;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .car.fixed {
    bottom: 0;
  }
}

@media (max-width: 992px) {
  .car {
    padding: 160px 0 125px;
  }
}

@media (max-width: 578px) {
  .car {
    padding: 175px 0 125px;
  }
}

@media (max-width: 375px) {
  .car {
    padding: 125px 0 125px;
  }
}

@media (max-width: 348px) {
  .car {
    padding: 120px 0 125px;
  }
}

@media (max-width: 328px) {
  .car {
    padding: 105px 0 125px;
  }
}

.car .road {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .car .road {
    position: static;
  }
}

@media (max-width: 600px) {
  .car .road {
    width: 1300px;
  }
}

@media (max-width: 478px) {
  .car .road {
    width: 992px;
  }
}

@media (max-width: 375px) {
  .car .road {
    padding-right: 110px;
  }
}

.car-img {
  display: block;
  position: absolute;
  z-index: 3;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .car-img {
    top: 128vh;
    width: 100px;
    -webkit-animation: car 6.5s ease-in-out infinite;
            animation: car 6.5s ease-in-out infinite;
  }
}

@media (max-width: 768px) {
  .car-img {
    top: 158vh;
    width: 100px;
  }
}

@-webkit-keyframes car {
  0% {
    left: -22%;
  }
  100% {
    left: 100%;
  }
}

@keyframes car {
  0% {
    left: -22%;
  }
  100% {
    left: 100%;
  }
}

.car .flag {
  display: block;
  position: absolute;
  z-index: 2;
  padding: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.car .flag::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 85%;
  left: -35%;
  z-index: 5;
  background: url(../img/svg/flag-circle.svg) center/cover no-repeat;
  background-color: #151515;
  border-radius: 50%;
}

.car .flag.active {
  opacity: 1;
}

.car .flag_1 {
  top: 47.1%;
  left: 31.9%;
}

.car .flag_1::after {
  -webkit-transform: rotate(-3deg) translateY(-3px);
          transform: rotate(-3deg) translateY(-3px);
}

.car .flag_2 {
  top: 47.1%;
  left: 52%;
}

.car .flag_2::after {
  -webkit-transform: rotate(4deg) translateY(2px);
          transform: rotate(4deg) translateY(2px);
}

.car .flag_2 img {
  -webkit-transform: rotate(4deg) translateX(10px);
          transform: rotate(4deg) translateX(10px);
}

.car .flag_3 {
  top: 47.1%;
  left: 73.6%;
}

.car .flag_3 img {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

@media (max-width: 992px) {
  .car .flag {
    opacity: 0 !important;
  }
}

@media (max-width: 600px) {
  .car .flag:first-child {
    opacity: 1 !important;
  }
}

.car__list {
  width: 70%;
  margin-left: auto;
  padding-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 992px) {
  .car__list {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  .car__list {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .car__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.car__item {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (max-width: 992px) {
  .car__item {
    opacity: 1 !important;
  }
}

.car__item.active {
  opacity: 1;
}

.car__item h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-bottom: 25px;
  border: 1.5px solid #989898;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

@media (min-width: 992px) {
  .car__item h3:hover {
    background: #989898;
    color: #fff;
  }
}

.car__item p {
  color: #989898;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .car__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fafafa;
}

.location__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 100px 10% 100px 0;
}

@media (max-width: 992px) {
  .location__text {
    padding: 100px 25px 100px 0;
    text-align: right;
  }
}

@media (max-width: 578px) {
  .location__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: left;
    padding: 170px 15px 50px;
  }
}

.location__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.location__img img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .location__img img {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@media (max-width: 578px) {
  .location__img {
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 65px;
    right: -80px;
  }
}

.location .section-title {
  font-size: 3.3rem;
  font-weight: 300;
}

.location .section-title span {
  color: #c9c9c9;
}

@media (max-width: 510px) {
  .location .section-title {
    padding-right: 100px;
  }
}

.location__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 65px;
  gap: 8%;
}

@media (max-width: 992px) {
  .location__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 992px) {
  .location__list:first-child {
    margin-bottom: 25px;
  }
}

.location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

@media (max-width: 1091px) {
  .location__item {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .location__item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 578px) {
  .location__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.location__item:last-child {
  margin-bottom: 0;
}

.location__item img {
  margin-right: 15px;
}

@media (max-width: 578px) {
  .location {
    position: relative;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3ab455));
  background: linear-gradient(#3ab455);
  border-radius: 20px;
  border: 4px solid #fff;
}
